<div class="ui sidebar left visible inverted vertical menu">
  <div class="item">
    <div class="header">Menu</div>
    <div class="menu">
      <%= link_to "Main page", root_path, class: "item" %>
      <%= link_to "All posts", posts_path, class: "item" %>
    </div>
  </div>
</div>
